{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Admin Login - Alfa Shockwave Celebrations</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>

<body style="background-image: url('{% static 'photos/login.jpg' %}'); background-size: cover; background-repeat: no-repeat; background-position: center;">
    <h1>Alfa Shockwave Celebrations</h1>

    <form method="post" novalidate>
        {% csrf_token %}
        <h2>Admin Login</h2>

        {% if messages %}
        <p class="error-message">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </p>
        {% endif %}

        <label for="id_username">Username:</label>
        <input type="text" name="username" id="id_username" autocomplete="off" required><br><br>

        <label for="id_password">Password:</label>
        <input type="password" name="password" id="id_password" autocomplete="new-password" required><br><br>

        <button type="submit" class="login-button">Login</button><br />
    </form>
</body>

</html>
