<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="venue.css">
</head>

<body>
    <h1>Alfa Shockwave Celebrations</h1>
    <h4>Welcome To Venue Selection</h4>
    <div class="venue">
        <h1>White Petals</h1>
    
            <div class=".venue-images.">
                <video height="500px" width="500px" autoplay loop muted>
                    <source src="white.mp4" type="video/mp4">
                </video>

            </div>
            <!-- <video autoplay loop muted>
            <source src="white.mp4" type="video/mp4">
        </video>
        <img src="white petal.jpg" alt="" height="300px" width="500px"> -->

            <p>White Petals, Palace Grounds, Bangalore, is taking the concept of dream venues several notches higher. It
                is
                home to a banquet hall that is the definition of royal. With resplendent crystalchandeliers and arrant
                lights adorning a decorative ceiling, carpeted floor, glass walls, and plush seating the baroque hall
                adds a
                tonne of tinsel to your special day. White Petals Palace Grounds also has a sprawling lawn that is
                neatly
                fenced with verdancy, adding a serene glow to your outdoor event. Both, the hall and the lawn can
                accommodate thousands of guests each and thus White Petals, Bangalore, Karnataka is perfect for majestic
                weddings, receptions, sangeet, mehndi, and engagement ceremonies, lavish birthday and wedding
                anniversary
                parties, upscale social gatherings, expos, exhibitions, award functions, promotion parties, fundraisers,
                auctions, product launches, and much more.</p>
            <a href="booking.html">Booking</a>
        </div>
</body>

</html>